# ==============================
# NODE
# ==============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# ENV FILES
# ==============================
.env
.env.*
!.env.example

# ==============================
# BUILD / DIST
# ==============================
dist/
build/

# ==============================
# LOGS
# ==============================
logs
*.log

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / EDITOR
# ==============================
.vscode/
.idea/

# ==============================
# TEMP
# ==============================
tmp/
temp/

# ==============================
# WALLET ORACLE CONFIG
# ==============================
wallet/